{% extends "base.html" -%}
{% import "macros.html" as macros -%}

{% block content -%}
{{ macros::emoji_safe(txt=section.content) }}

{% if config.extra.recent_pages -%}
{% set recent_pages = config.extra.recent_pages | filter(attribute="lang", value=lang) | first -%}
{% set limit = recent_pages.limit | default(value=5) -%}
{% set first_section = get_section(path=recent_pages.sections | first) -%}
{% set recent = [] %}
{% for section_path in recent_pages.sections -%}
{% set sec = get_section(path=section_path) -%}
{% set_global recent = recent | concat(with=sec.pages) %}
{% endfor -%}
<ul>
    {% for page in recent | sort(attribute='date') | reverse | slice(end=limit) -%}
    <li>
        <a href="{{ page.permalink | safe }}">{% if page.date %}{{ page.date }} - {% endif %}{{ macros::emoji_safe(txt=page.title) }}</a>
        <br />
        {{ macros::emoji_safe(txt=page.description) }}
    </li>
    {% endfor -%}
    <li>
        <a href="{{ first_section.permalink }}">...{{ first_section.title }}</a>
    </li>
</ul>
{% endif -%}
{% endblock content %}
